
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}


.landing-svg{
  width: 20vw;
  height: auto;
  max-width: 256px;
  max-height:256px ;
  border-radius: 8px;  
  
}

.body-gradient {
background: linear-gradient(135deg, #003366, #008080, #40E0D0, #FF7F50);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease alternate infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}






